@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;500&display=swap');

@font-face {
    font-family: 'built titling bd';
    src: url(built_titling/built\ titling\ bd.otf), format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /* fontes usadas para o desenvolvimento */
    --font-padrao:'Arial', 'verdana', 'helvetica', 'sans-serif';
    --font-destak: '','Encode Sans Condensed', 'cursive';
    --font-original: 'built titling bd';

                /* cores usadas para o desenvolvimento */
                --cor0:#fff;
                --cor1:#593E25;
                --cor2:#F2AE30;
                --cor3:#F2C12E;
                --cor4:#024959;
                --cor5:#A1A2A6;
}

body{
    background-color: var(--cor0);
    margin: auto;
}


/*------ BARRA DE NAVEGAÇAO E RODAPE (FOOTER) ------*/


#navegaçao {
    
    height: 60px;
    font-family: var(--font-destak);
    background-color: var(--cor2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.164);
}

ul {
    padding: 25px;
    text-align: right;
    list-style-type: none;
    color: white;
}

nav a.barra1{
    padding: 20px 8px 15px 8px;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

nav a.barra1:hover {
    border-radius: 10px;
    background-color: var(--cor3);
    color: var(--cor2);
}

ul li#barra0{
    text-align: center;
    display: inline;
    padding: 5px 20px; 
}

footer{
    background-color: #F2AE30;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

footer p#rodape {
    font-family: var(--font-destak);
    text-align: center;
}


/*------PAGINA HOME------*/

div.seçao1 {
    max-width: 50%; /*deiaxndo a div responsiva*/
    width: 400px; 
    float: left;   
    padding: 50px;
} 
            
h1.titulo{
    font-size: 40px;
    padding: 20px;
    font-family: var(--font-destak);
}

em{
    color: var(--cor3);
    font-weight: bolder;
}

main{
    position: relative;
}

img#dev{  
    /*usando margin para deixar a imagem melhor posicionada no layout*/
    margin: 70px auto -50px auto;
    /*a imagem fica mais centralizada*/
    display: block;
    /*width: 57%;  -------TESTADO COM %------*/ 
    
}


/*------PAGINA CONTATO------*/


ul#contato{
    text-decoration: none;
    text-align: left;
    margin: -20px;    
}

li{
    padding: 5px;
}

div#divcontato{
    margin: 40px 80px 30px 10px;
}

main#maincontato{
    float: right;
}

#imgcontato{
     margin-left: 120px;
     display: block;
     width: 45%;
}

a.anc_contato{
    text-decoration: none;
    color: black;
}

a.anc_contato:hover{
    color: rgb(68, 64, 64);
}
a.anc_contato:visited{
    color: cadetblue;
}